
    nav {
	height: 50px;
	background-color: #666;
}
    body {
	background: #E6E6E6;
	color: #fff;
	font-family: arial;
}
    
nav ul {
	list-style-type: none;
	padding: 10px 70px;
	margin: 0;
	overflow: hidden;
}
    nav li{
        float: left;
        
    }
    nav li a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}
/*
    .active{
        background-color: black;
    }
*/
    
nav li a:hover {
    color: #1C1C1C;
}
    
h2, h3 {
	text-align: center;
	background-color: #9FF781;
	padding: 10px 10px;
	margin-left: -10px;
	border-radius: 20px;
	border: 5px solid red;
}
h4 {
	text-align: center;
	background-color: #9FF781;
	padding: 10px 10px;
	margin-left: -10px;
	border-radius: 20px;
	border: 5px solid red;
}

    aside {
	float: right;
	width: 30%;
	background: #9FF781;
	margin-top: 20px;
	padding: 10px;
}

    main{
    float: left;
    width:60%;
    }
    
footer {
	text-align: center;
	padding: 10px;
	background: #666;
	margin-top: 30px;
	font-weight: bolder;
	font-size: 20px;
}
    table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
    .clr {
	clear: both;
}
    table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: fuchsia;
}

th, td {
    text-align: left;
    padding: 16px;
}
    
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
